html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 100%;
}

ul {
  list-style: none;
}

.container {
  padding-top: 40px;
  padding-bottom: 56px;
  padding-left: 20px;
  padding-right: 20px;
  /* width: 320px;
  height: 100%; */
  margin: auto;
}

/* Home page styles */

.cards_wrap {
  display: flex;
  flex-wrap: wrap;
}

.card_thumb {
  position: relative;
  overflow: hidden;
}

.card_overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.card-thumb:hover .flex-overlay {
  transform: translateY(0);
}

.card_box {
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 30px;

  display: block;
  width: 300px;
}

.card_box:nth-child(3n) {
  margin-right: 0;
}

.card_box:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.card_poster {
  display: block;
  width: 300px;
  height: 450px;
  border: none;
}

.card_content {
  margin-top: 0;
  margin-bottom: 0px;
  padding: 25px 25px;

  background: rgba(235, 231, 234, 0.767);

  text-align: center;
  align-items: center;
  justify-content: center;
  border-top: hidden;
  border: 1px solid transparent;
}

.card_content .card_title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/* Movie Details Page */
.card_left {
  text-align: center;
  width: 40%;
  height: 60%;
  float: left;
  overflow: hidden;
}

.card_left img {
  width: 220px;
  height: auto;
  position: relative;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
}

.card_right {
  width: 60%;
  float: left;
  /* background: white; */
  height: 80%;
  margin-bottom: 30px;
}

.card_right h2 {
  /* color: black; */
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 40px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}

.card_right h3 {
  /* color: black; */
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}

.card_right p {
  /* color: black; */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}

.card_right span {
  /* color: black; */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}

.card_right ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}

.card_right li {
  display: inline;
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
}

/* Navigation and Cast and Reviews pages */

.card_right_description {
  /* color: black; */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}

.card_right_description li {
  display: inline;
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
}

.card_right_description h3 {
  /* color: black; */
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}

.card_right_description p {
  /* color: black; */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}

.card_box_item {
  margin: 10px;
  padding: 20px;
  width: 185px;
  height: 260px;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card_box_item img {
  width: 160px;
  height: 220px;
  margin: auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
}

.card_box_item h3 {
  /* color: black; */
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.card_box_item p {
  /* color: black; */
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 10px;
  padding: 0;
  letter-spacing: 1px;
  margin: 0;
  line-height: 20px;
  white-space: nowrap;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.activeLink {
  /* composes: link; */
  color: red;
}

/* Button Go back */

.button_back {
  color: white;
  background-color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  border: 2px solid black;
  padding: 10px 10px 10px 40px;
  font-size: 15px;
  background-size: 12px 12px;
  background-position: 7% 50%;
  border-radius: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.button_back:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
}

/* AppBar  */

.Searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/* SearchBar */

.search_form {
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  border-radius: 3px;
  overflow: hidden;
}

.search_form_button {
  color: white;
  background-color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  border: 2px solid black;
  padding: 10px 10px 10px 40px;
  font-size: 15px;
  background-size: 12px 12px;
  background-position: 7% 50%;
  border-radius: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.search_form_button:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
}

.search_form_input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  /* border: 1 solid rgb(233, 227, 227); */
  outline: none;
  padding: 7px;
}

.search_form-input::placeholder {
  font: inherit;
  font-size: 18px;
}

/* SCREEN MOBILE________________________________ */
@media screen and (min-width: 320px) {
  .Searchbar {
    min-width: 320px;
  }

  .search_form {
    width: auto;
  }

  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card_left {
    width: 100%;
  }

  .card_right {
    width: 100%;
  }

  .button_back {
    padding: 5px 5px 5px 20px;
    margin-bottom: 10px;
  }
}

/* SCREEN TABLET */
@media screen and (min-width: 760px) {
  .cards_wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -10px;
  }
  .Searchbar {
    min-width: 760px;
  }

  .search_form {
    width: auto;
  }

  .container {
    width: 760px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card_left {
    width: 100%;
  }

  .card_right {
    width: 100%;
  }
}

/* SCREEN TABLET */
@media screen and (min-width: 1024px) {
  .Searchbar {
    min-width: 1024px;
  }

  .container {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card_left {
    width: 40%;
  }

  .card_right {
    width: 60%;
  }
}
