/* .card_left {
  text-align: center;
  width: 40%;
  height: 60%;
  float: left;
  overflow: hidden;
} */

/* .card_left img {
  width: 220px;
  height: auto;
  position: relative;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
}

/* .card_right {
  width: 60%;
  float: left;
  height: 80%;
  margin-bottom: 30px;
} */

/* .card_right h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 40px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
} */

/* .card_right h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
} */

/* .card_right p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
} */

/* .card_right span {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
} */

/* .card_right ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
} */

/* .card_right li {
  display: inline;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
} */

/* Navigation and Cast and Reviews pages */

/* .card_right_description {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
} */

/* .card_right_description li {
  display: inline;
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
} */

/* .card_right_description h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
} */

/* .card_right_description p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
} */

/* .card_box_item {
  margin: 10px;
  padding: 20px;
  width: 185px;
  height: 260px;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
} */

/* .card_box_item img {
  width: 160px;
  height: 220px;
  margin: auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
} */

/* .card_box_item h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
} */

/* .card_box_item p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 10px;
  padding: 0;
  letter-spacing: 1px;
  margin: 0;
  line-height: 20px;
  white-space: nowrap;
} */
